body {
  font-family: sans-serif;
  text-align: center;
  padding: 50px;
}
h1 {
  color: #333366;
}
.button {
  background-color: #4CAF50;
  color: white;
  padding: 15px 30px;
  text-decoration: none;
  font-size: 18px;
  border-radius: 10px;
  margin-top: 20px;
  display: inline-block;
}

.instructions {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-top: 30px;
}

.step {
  max-width: 300px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.step-image {
  width: 100%;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 10px;
}
